.pregunta1{
    background-color: aqua;
}

.content-div{
    border: 1px solid black;
}

.pregunta2{
    background-color: blueviolet;
}

.pregunta3{
    background-color: blue;
}

.pregunta4{
    background-color: grey;
    color:white
}

.pregunta5{
    background-color: green;
}
.pregunta6{
    background-color: pink;
}